---
import Image from '~/components/common/Image.astro';
const brainLogoBright = '~/assets/images/brain-logo-purple.svg';
const brainLogoDark = '~/assets/images/brain-logo-light.svg';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={brainLogoBright} alt="Brain Logo" width={40} class="inline-block dark:hidden align-middle mr-2" />
  <Image src={brainLogoDark} alt="Brain Logo" width={40} class="hidden dark:inline-block align-middle mr-2" />
  Maxine Annel
</span>
